<%# <div class="container d-flex col-6"> %>
<div class="container col-5 my-5">

  <h1>Add a new flat</h1>

    <%= simple_form_for(@flat) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
    <%= f.submit "Create flat", class: "btn btn-primary" %>
  <% end %>


</div>

